<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>电子发票查询系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static',filename='lib/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='lib/bootstrap/css/page4.css')}}" rel="stylesheet">
    <script src="{{url_for('static',filename='lib/jquery/jquery-1.11.0.min.js')}}"></script>
</head>
<script>
    $(document).ready(function () {
        $(".btn1").click(function () {
            var id = $('#ID').val();
            var phone = $('#PHONE').val();
            alert('www');
            $.post("{{url_for('query')}}", { "ID": id, "PHONE": phone }, function (data, status) {
                if(data.STATUS){   
                    alert("单号："+id+";"+"状态："+data.STATUS);                 
                }
                else{
                    alert("查询未成功！");
                }
                });
        });
    });
</script>
<body>
    <div class=" container div0">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="div1">
                    <img width="100%" src="{{url_for('static',filename='images/j1.jpg')}}">
                </div>
                <div class="div2">
                    <img width="100%" src="{{url_for('static',filename='images/j4.jpg')}}">
                    <form id="form">
                        <ul>
                            <li>
                                <span>账单号：</span>

                                <input class="input1" type="text" id="ID">
                            </li>
                            <li>
                                <span>手机号：</span>
                                <input class="input2" type="text" id="PHONE">
                            </li>
                            <li class="login">
                                <input class="btn1" type="submit" value="查询">
                            </li>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{{url_for('static',filename='lib/bootstrap/js/bootstrap.min.js')}}"></script>
</html>